# SQL and Python
* [1. Creating a table in a database using SQL](#1.-Creating-a-table-in-a-database-using-SQL)

## 1. Creating a table in a database using SQL
We can create a new table in a using SQL with the following syntax,

```CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);```

However, we can use this syntax in Python as well. In doing so, we need to use **sqlite3** package.

Let's create ``mydatabase.db``, and enter the all-time top goal scorers of the premier from this [website](https://www.premierleague.com/stats/top/players/goals?co=1&se=-1&co=1&cl=-1&iso=-1&po=-1?se=-1).

In [11]:
# creating *mydatabase.db* in the current directory
import sqlite3
connection = sqlite3.connect("mydatabase.db")

cursor = connection.cursor()

# deleting table Players if it is available
# disable this line if there is no such table as Players in the db file
cursor.execute("""DROP TABLE Players;""")

# SQL table syntax
sql_command = """
CREATE TABLE Players ( 
Rank INTEGER PRIMARY KEY, 
First_Name VARCHAR(20), 
Last_Name VARCHAR(30), 
Nationality CHAR(10), 
Goals INTEGER,
Birth_Date DATE);"""

# running that syntax
cursor.execute(sql_command)
# entering a row
sql_command = """INSERT INTO Players (Rank, First_Name, Last_Name, Nationality, Goals, Birth_Date)
    VALUES (Null, "Alan", "Shearer", "England", 260,"1970-08-13");"""
cursor.execute(sql_command)

# Saving the changes
connection.commit()
# closing hte file
connection.close()

As you notice, entering table rows by the previous command is not convenient. Therefore, we can enter the data as follows instead.

In [12]:
import sqlite3
connection = sqlite3.connect("mydatabase.db")

cursor = connection.cursor()

Players_data = [ ("Wayne", "Rooney", "England", 208, "1985-10-24"),
               ("Andrew", "Cole", "England", 187, "1971-10-15"),
               ("Frank", "Lampard", "England", 177, "1978-06-20") ]
               
for p in Players_data:
    format_str = """INSERT INTO Players (Rank, First_Name, Last_Name, Nationality, Goals, Birth_Date)
    VALUES (NULL, "{first}", "{last}", "{nationality}", "{goals}", "{birthdate}");"""

    sql_command = format_str.format(first=p[0], last=p[1], nationality=p[2], goals = p[3], birthdate = p[4])
    cursor.execute(sql_command)
# never forget this, if you want the changes to be saved:
connection.commit()

connection.close()

Now let's see what we have entered in the table. We can use a **for** lop to print all entered rows.

In [25]:
import sqlite3
connection = sqlite3.connect("mydatabase.db")

cursor = connection.cursor()

cursor.execute("SELECT * FROM Players") 
print("All rows:")
result = cursor.fetchall() 
for row in result:
    print(row)
del row

All rows:
(1, 'Alan', 'Shearer', 'England', 260, '1970-08-13')
(2, 'Wayne', 'Rooney', 'England', 208, '1985-10-24')
(3, 'Andrew', 'Cole', 'England', 187, '1971-10-15')
(4, 'Frank', 'Lampard', 'England', 177, '1978-06-20')

Alternatively, we can print a row.

In [26]:
cursor.execute("SELECT * FROM Players") 
print("One row:")
row = cursor.fetchone() 
print(row)

One row:
(1, 'Alan', 'Shearer', 'England', 260, '1970-08-13')

We could also print all using a **while** loop as well

In [30]:
cursor.execute("SELECT * FROM Players")
row = cursor.fetchone()
while row is not None:
  print(row)
  row = cursor.fetchone()

(1, 'Alan', 'Shearer', 'England', 260, '1970-08-13')
(2, 'Wayne', 'Rooney', 'England', 208, '1985-10-24')
(3, 'Andrew', 'Cole', 'England', 187, '1971-10-15')
(4, 'Frank', 'Lampard', 'England', 177, '1978-06-20')